<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>My Todo list</title>
	<link rel="stylesheet" type="text/css" href="node_modules/todomvc-app-css/index.css">
</head>
<body ng-app="monModule">
<section id="todoapp" ng-controller="TodoCtrl">
	<header id="header">
		<h1>Todolist</h1>
		<form action="#" id="todo-form" ng-submit="addTodo()">
			<input type="text" id="new-todo" placeholder="{{placeholder}}" autofocus="true" autocomplete="off" ng-model="newtodo">
		</form>
	</header>
	<section id="main">
	<input type="checkbox" id="toggle-all" ng-model="allchecked" ng-click="checkAlltodo(allchecked)">
		<ul id="todo-list">
			<li ng-repeat="todo in todos | filter:statusFilter|orderBy:'completed'" ng-class="{completed : todo.completed, editing: todo.editing}" ng-dblclick="todo.editing=true">
				<div class="view">
					<input type="checkbox" class="toggle" ng-model="todo.completed">
					<label>{{todo.name}}</label>
					<button class="destroy" ng-click="removeTodo($index)"></button>
				</div>
				<form action="#">
					<input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)">
				</form>
			</li>
		</ul>
	</section>
	<footer id="footer">
		<span id="todo-count">
			<strong>{{remaining}}</strong>taches restantes
		</span>
		<ul id="filters">
			<li><a href="#/" ng-class="{selected: location.path() == '/'}">toutes</a></li>
			<li><a href="#/active" ng-class="{selected: location.path() == '/active'}">active</a></li>
			<li><a href="#/done" ng-class="{selected: location.path() == '/done'}">fini</a></li>
		</ul>
	</footer>
</section>
<script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type=text/javascript src="app.js"></script>
</body>
</html>