
      <div class="list-group-item">
        <h3 class="text-center">{{currentContact.name}}</h3>
        <p>email: <a ng-href="{{currentContact.email}}">{{currentContact.email}}</a></p>
        <p>phone: {{currentContact.phone}}</p>
        <p>url: <a ng-href="{{currentContact.url}}">{{currentContact.url}}</a></p>
        <p>Notes:</p>
        <p class="well well-lg">{{currentContact.notes}}</p>

        <a ng-href="#/edit/{{contacts.indexOf(currentContact)}}">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
          </button>
        </a>

        <a href="#/"><button class="btn btn-default" ng-click="removeContact(currentContact)">
          <span class="glyphicon glyphicon-remove" ></span><span> - Remove</span>
        </button></a>
      </div>
