


<html ng-app="myApp">
<head>
    <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body data-ng-controller="POSController">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2><span class="text-warning">Good Morning</span> <span class="text-success">Breakfast</span></h2>
          <span class="pull-right text-muted">Today is March 27, 2014 (Thu)</span>
          <div class="text-muted">1429 Elm Street, Springwood, Ohio </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <div class="box">
            <div class="text-info">Breakfast</div>
            <hr>
            
            <button class="buttons btn btn-primary" ng-click="add(food.pizza)">Pizza</button>
            <button class="buttons btn btn-primary" ng-click="add(food.donut)">Donuts</button>
            <button class="buttons btn btn-primary" ng-click="add(food.tortilla)">Tortilla</button>
            <button class="buttons btn btn-primary" ng-click="add(food.burger)">Burger</button>
            <button class="buttons btn btn-success" ng-click="add(food.samosa)">Samosas</button>
          </div>
          
          <br></br>
          <div class="box">
            <div class="text-info">Bewerages</div>
            <hr>
            
            <button class="buttons btn btn-primary" ng-click="add(food.coldcoffee)">Cold Coffee</button>
            <button class="buttons btn btn-primary" ng-click="add(food.hotcoffee)">Hot Coffee</button>
            <button class="buttons btn btn-primary" ng-click="add(food.coke)">Coke</button>
            <button class="buttons btn btn-primary" ng-click="add(food.dietcoke)">Diet Coke</button>
            <button class="buttons btn btn-primary" ng-click="add(food.pepsi)">Pepsi</button>
          </div>
          
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="well">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Order Summary</h3>
            </div>
            <div class="panel-body" style="max-height:320px; overflow:auto;">
              <div class="text-warning" ng-hide="order.length">
                Noting ordered yet !
              </div>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat = "item in order">
                  <div class="label label-success">${{item.item.price}}</div>
                   {{item.item.detail}}
                  
                  <button class="btn btn-danger btn-xs pull-right" ng-click="deleteItem($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </li>
              </ul>

            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="label label-danger">Total: ${{getSum()}}</div>
            </div>
            <div class="panel-footer" ng-show="order.length">
              <div class="text-muted">
                Do not let go of customer without taking payment !
              </div>
            </div>
            <div class="pull-right">
              <span class="btn btn-default" ng-click="clearOrder()" ng-disabled="!order.length">Clear</span>
              <span class="btn btn-danger" ng-click="checkout()" ng-disabled="!order.length">Checkout</span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    
<script src="app.js">  </script>
</body>
</html>